/**
* @file:Chat chatReference
* @author:lyc
*
* @update:2016-04-25
*/

/*===chatReference===*/
.chatReferenceWrap{
    width: 775px;
    min-height: 615px;
    border: 1px solid #dcdcdc;
    color: #000;
}
.chatReferenceWrap > p{
    width: 100%;
    height: 56px;
    line-height: 56px;
}
.chatReferenceExplain{
    width: 729px;
    min-height: 350px;
    height: 100%;
    overflow: hidden;
    margin: 0 23px 15px;
    padding: 12px;
    line-height: 32px;
    text-indent: 2em;
}

.chat-btn{
    padding: 5px 15px;
    margin: 0 15px;
    background: #2a9cd1;
    color: #fff;
    text-indent: 0;
}
/*===chatReference 结束===*/