/**
* @file:newBookDetail
* @author:lyc
*
* @update:2016-04-18
*/


.booksFr_detail{
    display: block;
    width: 100%;
    padding: 30px 100px;
    min-height: 300px;
    margin: 0 auto 50px;
    background: #f3f3f3;
}
.booksFr_detail_content{
    width: 100%;
    padding: 20px 50px;
    margin: 0 auto;
    color: #000;
    background: #fff;
}
.booksFr_detail_contentImg{
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
}
.booksFr_detail_contentImg img{
    max-width: 600px;
    min-height: 250px;
}
.booksFr_detail_content > table{
    width: 725px;
    border-left: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    color: #000;

}
.booksFr_detail_content > table tr{
    height: 36px;
}
.booksFr_detail_content > table tr td{
    padding: 10px;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

}
.booksFr_detail_content > table tr td.booksFr_detail_itemName{
    width: 210px;
    background: #eee;

}
.booksFr_detail_content > table tr td.booksFr_detail_itemCon{
    width: 510px;
    background: #fff;

}