/**
* @file:overview
* @author:lyc
*
* @update:2016-04-01
*/

/*===overviewFr===*/

.homeSiteFrWrap .overviewList li{
    height: 50px;
}
.homeSiteFrWrap .overviewList li a{
    width: 600px;
    height: 28px;
}
.homeSiteFrWrap .overviewList li span{
    width: 85px;
    text-align: right;
}



.list li:hover,
.list li:hover a,
.list li:hover span{
    color:#38a3db;
}


/*===overviewFr End===*/

/*downloadList*/

.homeSiteFrWrap .downloadList li{
    height: 74px;
    overflow: hidden;
}
.homeSiteFrWrap .downloadList li p{
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.homeSiteFrWrap .downloadList li a{
    width: 600px;
    height: 28px;
}
.homeSiteFrWrap .downloadList li span{
    width: 85px;
    text-align: right;
}
.homeSiteFrWrap .downloadList li span a.download{
    display: inline-block;
    width: 60px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    background: #387208;
    text-align: center;
}