/**
* @file:recommend
* @author:lyc
*
* @update:2016-04-14
*/

/*===recommend===*/
.recommendWrap{
    width: 775px;
    min-height: 500px;
    border: 1px solid #dcdcdc;
    color: #000;
}
.recommendWrap > p{
    width: 100%;
    height: 56px;
    line-height: 56px;
}
.recommendWrap .pages2 + p{
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin: 40px auto;
}
.recommendWrap .pages2 + p > a {
    color: #2a9cd1;
    -webkit-transition: color .3s;
       -moz-transition: color .3s;
            transition: color .3s;

}
.recommendWrap .pages2 + p > a i{
    color: #1e5194;
    font-size: 28px;
}
.recommendWrap .pages2 + p > a:hover{
    color: #1e5194;
}
.recommendList{
    width: 100%;
}
.recommendList li{
    width: 100%;
    height: 32px;
}
.recommendList li.recommendList-first{
    background: #e5e5e5;
}
.recommendList li.recommendList-single{
    background: #f4f4f4;
}
.recommendList li.recommendList-double{
    background: #fff;
}
.recommendList li span{
    display: inline-block;
    float: left;
    height: 32px;
    padding: 0 13px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recommendList li span.recommendList-name{
    width: 235px;
    border-right: 1px solid #fff;
    color: #2a9cd1;
}
.recommendList li.recommendList-first span.recommendList-name{
    color: #000;
}
.recommendList li span.recommendList-author{
    width: 113px;
    border-right: 1px solid #fff;
}
.recommendList li span.recommendList-press{
    width: 158px;
    border-right: 1px solid #fff;
}
.recommendList li span.recommendList-reason {
    width: 267px;
}

/*===recommend 结束===*/

