 <div class="container">
        <!--logo-->
        <div class="fl home-logo">
            <img src="/${res}/images/logo.jpg" width="479" height="70" alt="logo">
        </div>

        <!--right-->
        <div class="fr home-headerFr">
            <!--links-->
            <div class="fl home-headerLinks">
                <a href="javascript:void(0);">· 学校首页 </a>
                <a href="javascript:void(0);">· 访问旧版 </a>
            </div>
            <!--form-->
            <div class="fl home-headerForm">
                <form class="form">
                    <div class="fl form-group">
                        <label class="fl">用户名</label>
                        <input type="text" class="fl home-headerInput borderRadius" placeholder="请输入读者证号">
                    </div>
                    <div class="fl form-group">
                        <label class="fl">密码</label>
                        <input type="password" class="fl home-headerPsd borderRadius" placeholder="初始密码：123456">
                    </div>
                    <input type="submit" class="btn home-headerBtn" value="登录">
                </form>
            </div>
        </div>
</div>