

/*books container*/

/*booksFl*/

.books_list_group {
    width: 215px;
    min-height: 60px;
    height: 100%;
    overflow: hidden;
}
.books_list_group > p{
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: #1e5194;
}
.books_list_group > p a{

    height: 26px;
    line-height: 26px;
    color: #1e5194;
}

.books_list_group li{
    float: none;
    display: inline;

}
.books_list_group li a{
    display:inline-block;
    float: left;
    padding:0 8px;
    height: 26px;
    line-height: 26px;
    color:#777;
    word-break: keep-all;
    border: 1px solid #dcdcdc;
    margin: 3px 7px 3px 0;
}


/*books-hotList*/
.books-hotListWrap{
    width: 246px;
    height: 240px;
    border: 1px solid #dcdcdc;
    background: #fff;
}
.books-hotListWrap .hot{
    padding: 15px;
    width: 245px;
    height: 190px;
}
.books-hotListWrap .hot a{
    color: #777;
}



