/**
* @file:booksDetail
* @author:lyc
*
* @update:2016-04-07
*/


/*booksDetail container*/

.booksDetailFl{
    width: 694px;
}
.booksDetailFl > div.booksDetailFl-title{
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #dcdcdc;
}
div.booksDetailFl-title span{
    display: inline-block;
    width: 450px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.booksDetailFl-titleBtn a.booksDetailFl-download{
    display: inline-block;
    width: 80px;
    height: 26px;
    margin-top: 3px;
    line-height: 26px;
    background: #1e5194;
    color: #fff;
    text-align: center;
}
.booksDetailFl-titleBtn a.booksDetailFl-fav{
    display: inline-block;
    height: 26px;
    margin-top: 3px;
    line-height: 26px;
    color: #1e5194;
}
.booksDetailFl .booksDetailFl-explain{
    width: 100%;
    height: 40px;
    line-height: 38px;
    color: #1e5194;
}
.booksDetailFl .booksDetailFl-explain span.booksDetailFl-addDate{
    color: #000;
}


.booksDetailFl-bookContent{
    width: 100%;
    height: 650px;
    overflow: hidden;
}


/*booksDetailFl-assessment*/
.booksDetailFl-assessment{
    width: 694px;
    border: 1px solid #dcdcdc;
    min-height: 130px;
    height: 100%;
    overflow: hidden;
}
.booksDetailFl-assessment > p span{
    color: #1e5194;
}

.booksDetail-assessmentList{
    width: 693px;
    padding: 0 15px;
}

.booksDetail-assessmentList li{
    width: 663px;
    min-height: 70px;
    height: 100%;
    overflow: hidden;
    padding: 8px 0;
    line-height: 28px;
    border-bottom: 1px solid #eee;
}
.booksDetail-assessmentList li.noBorder{
    border: none;
}
.booksDetail-assessmentList li a{
    color: #1e5194;
}
.booksDetail-assessmentList li span{
    color: #777;
}
.booksDetail-assessmentList li p{
    width: 100%;
    color: #333;
    text-align: justify;
}

.booksDetail-noAssessment{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #000;
}





.booksDetailFl-assesBox{
    width: 694px;
    border: 1px solid #dcdcdc;
}
.booksDetailFl-assesForm{
    padding: 15px;
    color: #898989;
}
.booksDetailFl-assesForm textarea,
.booksDetailFl-assesForm div.booksDetailFl-assesReminder{
    display: block;
    position: relative;
    z-index: 4;
    width: 663px;
    height: 135px;
    padding: 5px 10px;
    line-height: 20px;
    border: 1px solid #dcdcdc;
}
.booksDetailFl-assesForm div.booksDetailFl-assesReminder{
    position: relative;
    z-index: 5;
    margin-top: -135px;
    color: #000;
    background: #fff;

}
.booksDetailFl-assesForm div.booksDetailFl-assesReminder a{
    color: #1e5194;
}
.booksDetailFl-assesForm p,
.booksDetailFl-assesForm input{
    margin-top: 10px;
    height: 26px;
}

.booksDetailFl-assesForm input{
    width: 80px;
    height: 26px;
    line-height: 26px;
    background: #1e5194;
    color: #fff;
    border: none;
}



    /*===booksDetailFr===*/
.booksDetailFr{
    width: 305px;
}
.booksDetailFr-briefWrap{
    width: 305px;
    border: 1px solid #dcdcdc;
}
.booksDetailFr-brief{
    width: 305px;
    padding: 15px;
    line-height: 22px;
}

.booksDetailFr-img{
    width: 275px;
    max-height: 186px;
    text-align: center;
}
.booksDetailFr-img{
    max-width: 100%;
    max-height: 186px;
}
.booksDetailFr-brief p{
    width: 100%;
    min-height: 22px;
    height: 100%;
    overflow: hidden;
    line-height: 22px;
    text-align: left;
}
.booksDetailFr-brief p.booksDetailFr-name{
    min-height: 24px;
    margin-top: 15px;
    margin-bottom: 8px;
    line-height: 24px;
}
.booksDetailFr-brief span{
    display: block;
    width: 100%;
    margin-top: 8px;
    text-align: justify;

}
/*===booksDetailFr End===*/