[@cms_channel_list parentId=74]
     [#list tag_list as c]
	      [#if c.path='rybz']
 
             <li class="homeSiteFl-listSub homeSiteFl-current">	
	            <a href="javascript:void(0);">${c.name}</a>
	         <ul>
	            [@cms_channel_list parentId=c.id]
                    [#list tag_list as c]
                        [#if c.path=channel.path]
                        <li><a class="homeSiteFl-subCurrent" href="${c.url}">${c.name}</a></li>
                        [#else]
                         <li><a href="${c.url}">${c.name}</a></li>
                        [/#if]
                    [/#list]
 				[/@cms_channel_list] 
	         </ul>
            </li>
            [#else]
             <li class="homeSiteFl-listSub">
	            <a href="javascript:void(0);">${c.name}</a>
	         <ul>
	            <li><a href="javascript:void(0);">分类一</a></li>
	            <li><a href="javascript:void(0);">分类二</a></li>
	            <li><a href="javascript:void(0);">分类三</a></li>
	         </ul>
            </li>
          [/#if]
       [/#list]
[/@cms_channel_list]