/**
* @file:overview
* @author:lyc
*
* @update:2016-04-01
*/

/*===overviewFr===*/


.list li a.homeSite-listMore{
    position: relative;
    left: 590px;
    top: -4px;
    margin-top: -28px;
    display:inline-block;
    color: #777;
}
.list li:hover,
.list li:hover a,
.list li:hover span{
    color:#38a3db;
}


/*===overviewFr End===*/